## Assignment  no: 4
## Your name: Huda Aisyah Khoirunissa           student ID: 1144833
### When you use code, either from another student or an outside source, you should cite it. Tell me where the code comes from. 
#### ( v  )  1. I Totally write by myself (都自己寫)
#### (    ) 2. Refer to other students (參考同學,註明姓名學號):   name and student id 
#### (    ) 3. Refer to outside sources (參考外部資料網站), where:
## If you choose 2 or 3, tell me how similar you are. (如果選2,3, 請勾選相似程度)
#### ( ) < 25% ( ) 25%..50% ( ) 50%..75% ( ) > 75%
### Give me your expected score (給我你的期望分數): 88
### Reasons (理由): I carefully followed the assignment instructions, correctly handled missing values, applied label encoding and one-hot encoding in the proper order, used StandardScaler, and implemented StratifiedKFold with the required parameters. I also debugged and verified my code to ensure each preprocessing step worked as intended and produced accurate results.

## If you use AI, you must clearly state what AI was used for and how it was used in your submission. Answer the following questions: (若有使用AI, 需說明AI使用的內容與方式, 回答底下問題)
- The tool you used (使用的AI工具名稱) = ChatGPT 5
- How you used it (lookup / debugging / code snippet) (使用的方式) = Used ChatGPT mainly for debugging and correcting existing Python code related to data preprocessing steps such as label encoding and one-hot encoding. I encountered errors due to incorrect variable references and issues in applying StandardScaler, so I asked ChatGPT to review and correct my code.
- How you modified and understood the result (修改與理解過程) = I reviewed each correction suggested by ChatGPT, understood the cause of the errors, and tested the fixed code step by step. I verified that the variable references, encoding results, and StandardScaler operations were working correctly. I also compared the outputs (such as encoded columns and scaled values) to ensure they matched the preprocessing requirements of the Adult Income dataset.

## 說明與心得 explain your code briefly, tell me something, and share your experience.
In this assignment, I built a complete data preprocessing pipeline for the UCI Adult Income dataset. I loaded the data with pandas, identified 3,620 rows with missing values, removed them, and obtained a working table of 45,222 rows and 15 columns. The target column income was converted to integers (<=50K → 0, >50K → 1). I applied one-hot encoding to the gender column with drop_first=True and label encoding to the remaining categorical features. Using DataFrame.pop(), I separated the target from the features, producing X with 14 feature columns and Y as the target. I standardized all feature columns with StandardScaler and confirmed the transformed matrix shape of (45,222, 14). I then split the data into training and test sets with an 80/20 stratified split and, on the training set, performed 3-fold stratified cross-validation using StratifiedKFold (n_splits=3, shuffle=True, random_state=100), reporting the data and shapes for each fold.

This workflow reinforced key best practices: encode categorical variables before scaling, standardize features after separating the target, use stratification to preserve class balance in splits, and fix random states for reproducibility.

### Load the Dataset

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('adult.csv')

In [4]:
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
data.isna()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48839,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [8]:
print([data == '?'])

[         age  workclass  fnlwgt  education  educational-num  marital-status  \
0      False      False   False      False            False           False
1      False      False   False      False            False           False
2      False      False   False      False            False           False
3      False      False   False      False            False           False
4      False       True   False      False            False           False
...      ...        ...     ...        ...              ...             ...
48837  False      False   False      False            False           False
48838  False      False   False      False            False           False
48839  False      False   False      False            False           False
48840  False      False   False      False            False           False
48841  False      False   False      False            False           False

       occupation  relationship   race  gender  capital-gain  capital-loss  \
0           False         False  False   False         False         False
1           False         False  False   False         False         False
2           False         False  False   False         False         False
3           False         False  False   False         False         False
4            True         False  False   False         False         False
...           ...           ...    ...     ...           ...           ...
48837       False         False  False   False         False         False
48838       False         False  False   False         False         False
48839       False         False  False   False         False         False
48840       False         False  False   False         False         False
48841       False         False  False   False         False         False

       hours-per-week  native-country  income
0               False           False   False
1               False           False   False
2               False           False   False
3               False           False   False
4               False           False   False
...               ...             ...     ...
48837           False           False   False
48838           False           False   False
48839           False           False   False
48840           False           False   False
48841           False           False   False

[48842 rows x 15 columns]]

In [9]:
import numpy as np

In [10]:
replaced_data = data.replace(r'^\s*\?\s*$', np.nan, regex=True)

In [11]:
rows_with_nan = replaced_data[replaced_data.isnull().any(axis=1)]
print("Total rows with missing values:", len(rows_with_nan))

Total rows with missing values: 3620

In [12]:
replaced_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

### Drop Missing Value

In [13]:
replaced_data = replaced_data.dropna()

In [14]:
replaced_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [15]:
replaced_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
print('dataset shape after removing missing value: ', replaced_data.shape)

dataset shape after removing missing value:  (45222, 15)

### Convert Column

In [17]:
replaced_data['income'] = (
    replaced_data['income'].astype(str).str.strip().str.replace('.', '', 
                                                                regex = False).map({'<=50K': 0, '>50K': 1}))

In [18]:
print(replaced_data['income'].value_counts(dropna=False))
assert set(replaced_data['income'].dropna().unique()) == {0, 1}

income
0    34014
1    11208
Name: count, dtype: int64

### Data Representation

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
if 'gender' in replaced_data.columns:
    replaced_data = pd.get_dummies(replaced_data, columns=['gender'], drop_first=True)
for i in replaced_data.select_dtypes(include=['object']).columns:
    replaced_data[i] = LabelEncoder().fit_transform(replaced_data[i])

#### Separate Columns Target and Feature Columns

In [21]:
Y = replaced_data.pop('income')
X = replaced_data

print("Feature shape:", X.shape)
print("Target shape:", Y.shape)

Feature shape: (45222, 14)
Target shape: (45222,)

In [22]:
X

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,gender_Male
0,25,2,226802,1,7,4,6,3,2,0,0,40,38,True
1,38,2,89814,11,9,2,4,0,4,0,0,50,38,True
2,28,1,336951,7,12,2,10,0,4,0,0,40,38,True
3,44,2,160323,15,10,2,6,0,2,7688,0,40,38,True
5,34,2,198693,0,6,4,7,1,4,0,0,30,38,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,2,257302,7,12,2,12,5,4,0,0,38,38,False
48838,40,2,154374,11,9,2,6,0,4,0,0,40,38,True
48839,58,2,151910,11,9,6,0,4,4,0,0,40,38,False
48840,22,2,201490,11,9,4,0,3,4,0,0,20,38,True
48841,52,3,287927,11,9,2,3,5,4,15024,0,40,38,False

In [23]:
Y

0        0
1        0
2        1
3        1
5        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 45222, dtype: int64

### Feature Scaling

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()

numeric_cols = X.select_dtypes(include=['int64', 'float64']).columns

X[numeric_cols] = scaler.fit_transform(X[numeric_cols])

print("\nData after StandardScaler:")
print("Shape after scaling: ", X.shape)
print(X.head())

Data after StandardScaler:
Shape after scaling:  (45222, 14)
        age  workclass    fnlwgt  education  educational-num  marital-status  \
0 -1.024983  -0.213443  0.350889  -2.439977        -1.221559        0.942936
1 -0.041455  -0.213443 -0.945878   0.179902        -0.438122       -0.390005
2 -0.798015  -1.257163  1.393592  -0.868050         0.737034       -0.390005
3  0.412481  -0.213443 -0.278420   1.227853        -0.046403       -0.390005
5 -0.344079  -0.213443  0.084802  -2.701964        -1.613277        0.942936

   occupation  relationship      race  capital-gain  capital-loss  \
0    0.007557      0.993798 -2.018744     -0.146733      -0.21878
1   -0.489170     -0.884479  0.384110     -0.146733      -0.21878
2    1.001011     -0.884479  0.384110     -0.146733      -0.21878
3    0.007557     -0.884479 -2.018744      0.877467      -0.21878
5    0.255921     -0.258387  0.384110     -0.146733      -0.21878

   hours-per-week  native-country  gender_Male
0       -0.078120        0.262999         True
1        0.754701        0.262999         True
2       -0.078120        0.262999         True
3       -0.078120        0.262999         True
5       -0.910942        0.262999         True

### Split Dataset

In [26]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.2, random_state=42, stratify=Y
)
print("Training data shape :", X_train.shape, Y_train.shape)
print("Testing data shape  :", X_test.shape, Y_test.shape)

Training data shape : (36177, 14) (36177,)
Testing data shape  : (9045, 14) (9045,)

In [31]:
skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=100)

for fold, (train_idx, val_idx) in enumerate(skf.split(X_train, Y_train), start=1):
    X_tr, X_val = X_train.iloc[train_idx], X_train.iloc[val_idx]
    Y_tr, Y_val = Y_train.iloc[train_idx], Y_train.iloc[val_idx]

    print(f"\nFold {fold}")
    print("Train fold shape      :", X_tr.shape, Y_tr.shape)
    print("Validation fold shape :", X_val.shape, Y_val.shape)
    print("\nX_train:")
    print(X_tr.head())
    print("\nY_train:")
    print(Y_tr.head())
    print("\nX_val:")
    print(X_val.head())
    print("\nY_val:")
    print(Y_val.head())

Fold 1
Train fold shape      : (24118, 14) (24118,)
Validation fold shape : (12059, 14) (12059,)

X_train:
            age  workclass    fnlwgt  education  educational-num  \
24287 -1.478919  -0.213443 -0.592066   0.179902        -0.438122
19245 -0.873671  -0.213443  0.037546   0.179902        -0.438122
24602  0.942073  -0.213443 -0.339506   1.227853        -0.046403
28665 -0.722359  -0.213443  0.021538  -0.344074         1.128753
10706  1.925601  -0.213443  1.030039   0.179902        -0.438122

       marital-status  occupation  relationship     race  capital-gain  \
24287        0.942936    0.255921      0.993798  0.38411     -0.146733
19245        0.942936   -0.985897      0.993798  0.38411     -0.146733
24602       -0.390005    1.746102     -0.884479  0.38411     -0.146733
28665        0.942936    0.752648     -0.258387  0.38411     -0.146733
10706       -0.390005   -0.489170     -0.884479  0.38411     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
24287     -0.218780       -2.160174        0.262999        False
19245     -0.218780        0.338291        0.262999        False
24602      6.209148       -0.078120        0.262999         True
28665     -0.218780        1.587523       -1.052836        False
10706     -0.218780        2.420344        0.262999         True

Y_train:
24287    0
19245    0
24602    0
28665    0
10706    0
Name: income, dtype: int64

X_val:
            age  workclass    fnlwgt  education  educational-num  \
12660 -0.268423   1.873997 -1.215393   0.179902        -0.438122
11725  1.017729  -0.213443  1.848049   1.227853        -0.046403
18931 -1.176295  -0.213443  1.369036   0.179902        -0.438122
7532  -1.327607  -0.213443  0.960802   1.227853        -0.046403
10411  0.185513  -0.213443 -0.155424   0.179902        -0.438122

       marital-status  occupation  relationship      race  capital-gain  \
12660       -1.722946    0.007557      1.619890  0.384110     -0.146733
11725       -0.390005    1.746102     -0.884479  0.384110     -0.146733
18931        0.942936   -1.482624      0.993798 -2.018744     -0.146733
7532         0.942936    0.255921     -0.258387  0.384110     -0.146733
10411       -0.390005    0.007557     -0.884479  0.384110     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
12660      -0.21878       -0.078120        0.262999         True
11725      -0.21878       -0.411249        0.262999         True
18931      -0.21878       -0.078120        0.262999        False
7532       -0.21878       -0.078120        0.262999         True
10411      -0.21878       -0.078120        0.262999         True

Y_val:
12660    0
11725    1
18931    0
7532     0
10411    0
Name: income, dtype: int64

Fold 2
Train fold shape      : (24118, 14) (24118,)
Validation fold shape : (12059, 14) (12059,)

X_train:
            age  workclass    fnlwgt  education  educational-num  \
12660 -0.268423   1.873997 -1.215393   0.179902        -0.438122
24287 -1.478919  -0.213443 -0.592066   0.179902        -0.438122
19245 -0.873671  -0.213443  0.037546   0.179902        -0.438122
24602  0.942073  -0.213443 -0.339506   1.227853        -0.046403
28665 -0.722359  -0.213443  0.021538  -0.344074         1.128753

       marital-status  occupation  relationship     race  capital-gain  \
12660       -1.722946    0.007557      1.619890  0.38411     -0.146733
24287        0.942936    0.255921      0.993798  0.38411     -0.146733
19245        0.942936   -0.985897      0.993798  0.38411     -0.146733
24602       -0.390005    1.746102     -0.884479  0.38411     -0.146733
28665        0.942936    0.752648     -0.258387  0.38411     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
12660     -0.218780       -0.078120        0.262999         True
24287     -0.218780       -2.160174        0.262999        False
19245     -0.218780        0.338291        0.262999        False
24602      6.209148       -0.078120        0.262999         True
28665     -0.218780        1.587523       -1.052836        False

Y_train:
12660    0
24287    0
19245    0
24602    0
28665    0
Name: income, dtype: int64

X_val:
            age  workclass    fnlwgt  education  educational-num  \
10706  1.925601  -0.213443  1.030039   0.179902        -0.438122
34613  0.261169  -1.257163 -0.841948  -0.344074         1.128753
5309  -1.251951   0.830277  2.342208   0.179902        -0.438122
23422 -0.722359  -0.213443 -0.230738  -0.606062         0.345316
35702 -0.949327  -0.213443 -0.207186   0.179902        -0.438122

       marital-status  occupation  relationship      race  capital-gain  \
10706       -0.390005   -0.489170     -0.884479  0.384110     -0.146733
34613       -0.390005    0.752648     -0.884479  0.384110     -0.146733
5309         0.942936   -1.482624      1.619890 -2.018744     -0.146733
23422        0.942936   -1.482624     -0.258387  0.384110     -0.146733
35702        0.942936    0.007557     -0.258387 -2.018744     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
10706      -0.21878        2.420344        0.262999         True
34613      -0.21878        1.587523        0.262999         True
5309       -0.21878       -0.078120        0.262999        False
23422      -0.21878       -0.078120        0.262999        False
35702      -0.21878       -0.078120        0.262999         True

Y_val:
10706    0
34613    1
5309     0
23422    0
35702    0
Name: income, dtype: int64

Fold 3
Train fold shape      : (24118, 14) (24118,)
Validation fold shape : (12059, 14) (12059,)

X_train:
            age  workclass    fnlwgt  education  educational-num  \
12660 -0.268423   1.873997 -1.215393   0.179902        -0.438122
11725  1.017729  -0.213443  1.848049   1.227853        -0.046403
18931 -1.176295  -0.213443  1.369036   0.179902        -0.438122
10706  1.925601  -0.213443  1.030039   0.179902        -0.438122
7532  -1.327607  -0.213443  0.960802   1.227853        -0.046403

       marital-status  occupation  relationship      race  capital-gain  \
12660       -1.722946    0.007557      1.619890  0.384110     -0.146733
11725       -0.390005    1.746102     -0.884479  0.384110     -0.146733
18931        0.942936   -1.482624      0.993798 -2.018744     -0.146733
10706       -0.390005   -0.489170     -0.884479  0.384110     -0.146733
7532         0.942936    0.255921     -0.258387  0.384110     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
12660      -0.21878       -0.078120        0.262999         True
11725      -0.21878       -0.411249        0.262999         True
18931      -0.21878       -0.078120        0.262999        False
10706      -0.21878        2.420344        0.262999         True
7532       -0.21878       -0.078120        0.262999         True

Y_train:
12660    0
11725    1
18931    0
10706    0
7532     0
Name: income, dtype: int64

X_val:
            age  workclass    fnlwgt  education  educational-num  \
24287 -1.478919  -0.213443 -0.592066   0.179902        -0.438122
19245 -0.873671  -0.213443  0.037546   0.179902        -0.438122
24602  0.942073  -0.213443 -0.339506   1.227853        -0.046403
28665 -0.722359  -0.213443  0.021538  -0.344074         1.128753
44660  0.563793  -0.213443  0.675176   0.441889         1.520471

       marital-status  occupation  relationship     race  capital-gain  \
24287        0.942936    0.255921      0.993798  0.38411     -0.146733
19245        0.942936   -0.985897      0.993798  0.38411     -0.146733
24602       -0.390005    1.746102     -0.884479  0.38411     -0.146733
28665        0.942936    0.752648     -0.258387  0.38411     -0.146733
44660       -0.390005    0.752648     -0.884479  0.38411     -0.146733

       capital-loss  hours-per-week  native-country  gender_Male
24287     -0.218780       -2.160174        0.262999        False
19245     -0.218780        0.338291        0.262999        False
24602      6.209148       -0.078120        0.262999         True
28665     -0.218780        1.587523       -1.052836        False
44660      4.663284        0.754701        0.262999         True

Y_val:
24287    0
19245    0
24602    0
28665    0
44660    1
Name: income, dtype: int64